<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.savethefood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SaveTheFood">
        <activity
            android:name=".card"
            android:exported="false" />
        <activity
            android:name=".payment_successful"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".MyCart"
            android:exported="false" />
        <activity
            android:name=".cartActivity"
            android:exported="false" />
        <activity
            android:name=".admin"
            android:exported="false" />
        <activity
            android:name=".location"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIv5vsUaHFuTlfQbW_LdvzHWFm4XPnL9E" />

        <activity
            android:name=".sell_dashboard"
            android:exported="false" />
        <activity
            android:name=".purchase_dashboard"
            android:exported="false" />
        <activity
            android:name=".edit_profile"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".order"
            android:exported="false" />
        <activity
            android:name=".homePage"
            android:exported="false" />
        <activity
            android:name=".sign_up"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>